.container {
    width: 100%;
    padding: 0 24px;
    // начиная с ширины 767 и ниже (для планшетов)
    @media (min-width: 767px) {
        width: 767px;
        padding: 0;
        margin: 0 auto;
    }
}
